(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    waves: Some((
        source: File("/Users/virantha/dev/tinytapeout/tt10-enigma/src/enigma.vcd"),
        format: Vcd,
        active_scope: Some((
            strs: [
                "bench",
                "top",
                "r0",
            ],
        )),
        displayed_items_order: [
            (1),
            (3),
            (7),
            (8),
            (9),
            (10),
            (11),
            (15),
            (25),
            (16),
            (17),
            (19),
            (20),
            (18),
            (23),
            (26),
            (22),
            (24),
            (21),
            (27),
        ],
        displayed_items: {
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r0",
                        ],
                    ),
                    name: "cnt",
                ),
                color: None,
                background_color: None,
                display_name: "…r0.cnt",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                        ],
                    ),
                    name: "right_out_ff1",
                ),
                color: None,
                background_color: None,
                display_name: "right_out_ff1",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r2",
                        ],
                    ),
                    name: "is_at_turnover",
                ),
                color: None,
                background_color: None,
                display_name: "…r2.is_at_turnover",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                        ],
                    ),
                    name: "cmd",
                ),
                color: None,
                background_color: None,
                display_name: "cmd",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                        ],
                    ),
                    name: "ready",
                ),
                color: None,
                background_color: None,
                display_name: "ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                        ],
                    ),
                    name: "right_in",
                ),
                color: None,
                background_color: None,
                display_name: "right_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r1",
                        ],
                    ),
                    name: "cnt",
                ),
                color: None,
                background_color: None,
                display_name: "…r1.cnt",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r0",
                        ],
                    ),
                    name: "is_at_turnover",
                ),
                color: None,
                background_color: None,
                display_name: "…r0.is_at_turnover",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r2",
                        ],
                    ),
                    name: "inc",
                ),
                color: None,
                background_color: None,
                display_name: "…r2.inc",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r0",
                        ],
                    ),
                    name: "inc",
                ),
                color: None,
                background_color: None,
                display_name: "…r0.inc",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r0",
                        ],
                    ),
                    name: "left_out",
                ),
                color: None,
                background_color: None,
                display_name: "left_out",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "fsm",
                        ],
                    ),
                    name: "fsm_state",
                ),
                color: None,
                background_color: None,
                display_name: "fsm_state",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "fsm",
                        ],
                    ),
                    name: "en",
                ),
                color: None,
                background_color: None,
                display_name: "en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r1",
                        ],
                    ),
                    name: "inc",
                ),
                color: None,
                background_color: None,
                display_name: "…r1.inc",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r2",
                        ],
                    ),
                    name: "cnt",
                ),
                color: None,
                background_color: None,
                display_name: "…r2.cnt",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "fsm",
                        ],
                    ),
                    name: "double_step",
                ),
                color: None,
                background_color: None,
                display_name: "double_step",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "fsm",
                        ],
                    ),
                    name: "inc",
                ),
                color: None,
                background_color: None,
                display_name: "…fsm.inc",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "fsm",
                        ],
                    ),
                    name: "fsm_state",
                ),
                color: None,
                background_color: None,
                display_name: "fsm_state",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "r1",
                        ],
                    ),
                    name: "is_at_turnover",
                ),
                color: None,
                background_color: None,
                display_name: "…r1.is_at_turnover",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 27,
        viewports: [
            (
                curr_left: (0.7141089108910895),
                curr_right: (1.2141089108910887),
            ),
        ],
        cursor: Some((1, [
            1941138432,
            9208,
        ])),
        right_cursor: None,
        markers: {},
        focused_item: Some((19)),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    ui_zoom_factor: None,
)